   @using System.Threading.Tasks
@using AFIAT.TST.Web.Public.Startup
@using CultureHelper = AFIAT.TST.Localization.CultureHelper
@{
    ViewBag.CurrentPageName = FrontEndPageNames.Home;
}

<div class="hero is-grey is-center">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered mt-6">
                    <div class="column">
                        <div class="pt-10 pb-6">
                            <h1 class="title is-1 is-bold">
                                صفحات برتر
                            </h1>
                            <p class="subtitle is-5 mb-4 mx-auto max-w-5 b-centered-tablet-p text-light">
                                خوسشی شسی سشیسشیسشی/
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
